<ul class="news-posts icon-list">
<% News.all(5).each do |post| %>
  <li>
    <a href="#">
      <% if post.image_url %>
        <img class="news-image" src="<%= post.image_url %>">
      <% end %>
      <span class="icon<%= ' mp' if post.source == 'mp.se' %>">
        <img src="/images/sources/<%= post.icon %>" alt="">
      </span>
      <span class="title"><%= post.title %></span>
      <span class="meta">
        <%= post.time %>, <%= post.source_title %>, <%= post.source %>
      </span>
    </a>
    <% if locals[:edit] %>
      <a href="#" class="edit-link-simple">Redigera</a>
    <% end %>
  </li>
<% end %>
</ul>
