<ul class="icon-list">
<% News.all(3).each do |post| %>
  <li>
    <a href="#">
      <span class="icon">
        <img src="images/sources/<%= post.icon %>" alt="">
      </span>
      <span class="title"><%= post.title %></span>
      <span class="meta">
        <%= post.time %>, <%= post.source_title %>, <%= post.source %>
      </span>
    </a>
  </li>
<% end %>
</ul>
