<% content_for :head do %>
  <title>Miljöpartiet</title>
<% end%>
<div id="start-page">
<article>
  <div class="illustration">
    <figure>
      <div>
        <div class="embedded-video widescreen vimeo">
          <iframe src="http://player.vimeo.com/video/28932766?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      </div>
      <figcaption>
        <b>Liten rubrik</b>
        Faccus si veliquate laboreh enihit ressit, se volupta tempero idercipsam aciendias qui totatec estint volorem alicatus.
      </figcaption>
    </figure>
  </div>
  <div class="body">
    <blockquote>
      <p>Samhällets ekonomiska utveckling bromsas upp genom att personer måste avstå jobb eller utbildning på orter med bostadsbrist.</p>
      <footer>
        <a href="/person">
          <img src="/images/sketch/asa_145x145.png" alt="">
          <p>
            <span class="name">Åsa Romson</span>,
            <span class="title">språkrör och riksdagsledamot sedan 2003</span>
          </p>
        </a>
      </footer>
    </blockquote>
  </div>
  <section class="news-posts article-section">
    <ul class="icon-list">
    <% News.all.each do |post| %>
      <li>
        <a href="#">
          <img src="/images/sketch/dn.png" alt="" class="icon">
          <%= post.title %>
          <span class="meta">
            <%= post.time %>, <%= post.source_title %>, <%= post.source %>
          </span>
        </a>
      </li>
    <% end %>
    </ul>
  </section>
  <div class="speech-bubble article-section">
    <h2>Prata med oss på dina villkor</h2>
    <p>Vi finns såklart även på Facebook och Twitter. Klicka på knappen då får du se vad:</p>
  </div>
</article>
<article>
  <%= partial "main_topics" %>
  <p><a href="/topics.html">Läs mer om hur vi vill modernisera Sverige</a>
  <div class="speech-bubble article-section">
    <h2>Vad vill vi göra just där du bor?</h2>
    <p>Vi finns i hela landet och driver grön politik på din gata. Klicka på knappen då får du se vad:</p>
  </div>
</article>
</div>
