---
body_class: front
---
<% content_for :head do %>
  <title>Miljöpartiet</title>
<% end%>
<div id="start-page">
<article>
  <div class="illustration">
    <figure>
      <div>
        <img src="/images/banners/living.jpg" alt="Bostadsbristen kräver politiskt agerande.">
      </div>
      <figcaption>
        <b>Bostad</b>
        Alla behöver en bostad. Men bristen på bostäder ökar. Därför vill Miljöpartiet bygga fler billiga och miljövänliga bostäder.
      </figcaption>
    </figure>
  </div>
  <div class="body">
    <blockquote>
      <p>Samhällets ekonomiska utveckling bromsas upp genom att personer måste avstå jobb eller utbildning på orter med bostadsbrist.</p>
      <footer>
        <a href="/person">
          <img src="/images/sketch/asa_145x145.png" alt="">
          <p>
            <span class="name">Åsa Romson</span>,
            <span class="title">språkrör och riksdagsledamot sedan 2003</span>
          </p>
        </a>
      </footer>
    </blockquote>
  </div>
  <section class="news-posts article-section">
    <ul class="icon-list">
    <% News.all.each do |post| %>
      <li>
        <a href="#">
          <img src="/images/sketch/dn.png" alt="" class="icon">
          <span class="title"><%= post.title %></span>
          <span class="meta">
            <%= post.time %>, <%= post.source_title %>, <%= post.source %>
          </span>
        </a>
      </li>
    <% end %>
    </ul>
    <p><a href="#" class="action">Visa fler nyheter</a></p>
  </section>
  <div class="speech-bubble">
    <h2>Prata med oss på dina villkor</h2>
    <p>Vi finns såklart även på Facebook och Twitter. Klicka på knappen då får du se vad:</p>
  </div>
</article>
<article>
  <%= partial "main_topics" %>
  <p><a href="/topics.html">Läs mer om hur vi vill modernisera Sverige</a>
  <div class="speech-bubble">
    <h2>Vad vill vi göra just där du bor?</h2>
    <p>Vi finns i hela landet och driver grön politik på din gata. Klicka på knappen då får du se vad:</p>
  </div>
</article>
<article>
  <header class="intro">
    <h1>Vårt parti</h1>
    <div class="lead">
      <p>Miljöpartiet de gröna är Sveriges tredje största riksdagsparti. Vi bryr oss om allt levande, världens alla människor och kommande generationer.</p>
    </div>
  </header>
  <div class="illustration">
    <figure>
      <div>
        <div class="embedded-video widescreen vimeo">
          <iframe src="http://player.vimeo.com/video/14921567?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="500" height="281" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      </div>
      <figcaption>
        <b>Miljöpartiet de gröna</b>
        Pis repraest, tem ipid molor a dissum il inum destis sim quati. Istället för partiledare har vi två språkrör som representerar partiet i media och för ut vår
      </figcaption>
    </figure>
  </div>
  <section class="article-section people">
    <header>
      <p class="section-lead">
        <b>Våra språkrör</b>
        Istället för partiledare har vi två språkrör som representerar partiet i media och för ut vår politik.
      </p>
    </header>
    <div class="grid"><div class="container">
      <div class="column c2">
        <a href="/person.html">
          <img src="/images/sketch/people/gustaf-fridolin.jpg" alt="">
          <h2>Gustaf Fridolin</h2>
          <p>Språkrör, riksdagsledamot och folkhögskollärare</p>
        </a>
      </div><div class="column c2">
        <a href="/person.html">
          <img src="/images/sketch/people/asa-romson.jpg" alt="">
          <h2>Åsa Romson</h2>
          <p>Språkrör, riksdagsledamot och doktor i Miljörätt</p>
        </a>
      </div>
    </div></div>
    <p><a href="/about.html">Fler personer i vårt parti och där du bor.</a></p>
  </section>
</article>
<article>
  <header class="intro">
    <h1>Samtala med oss</h1>
    <div class="lead">
      <p>Genom att lyssna och vara öppna och ha närvaro i politiken kan vi utveckla vårt parti och det politiska klimatet i Sverige.</p>
    </div>
  </header>
  <section class="article-section">
    <div class="conversation">
      <div class="question">
        <div class="content">
          <p>
            Hur ställer ni gröna partier er till landsbygdsinfrastruktur
          </p>
        </div>
        <div class="byline">
          <img src="http://placehold.it/48x48" alt="">
          <p>Fredrika Gullfor (@gullfot) på twitter</p>
          <span class="arrow"></span>
        </div>
      </div>
      <div class="answer">
        <div class="content">
          <p>
            En grön stad ska klara av att spara energi och transporter, minska avfallshanteringen och ha ett Cabo. lenda velest vellamentum ressimos qui omnisi dolessum facerum.
          </p>
        </div>
        <div class="byline">
          <img src="http://placehold.it/48x48" alt="">
          <p><a href="">Per Bolund</a>, ekonomisk talesman för Miljöpartiet</p>
          <span class="arrow"></span>
        </div>
      </div>
    </div>
  </section>
</article>
</div>
